{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}


    <div class="container-fluid container-md mt-2 mb-5 container-image-hero">
        <div class="">
            <img src="{{ asset('images/girls.jpg') }}" class="image-hero" alt="...">
            <div class="container-image-ronde "> 
                <img src="{{ asset('images/logo.jpg') }}" class="image-ronde" alt="...">
            </div>
         </div>
    </div>
    <div class="container main-container">

        <div class="text-center">

            <h1 class="">La maison des girls</h1>
        
        
        
        </div>
    </div>

    <div class="container-fluid bg-light">
        <div class="container text-center">

            <hr>

            <h2 class="mb-3">Réseaux sociaux</h2>

{#             <img src="{{ asset('images/social/facebook_32.png') }}" class="img-fluid m-3" alt="...">
            <img src="{{ asset('images/social/linkedin_32.png') }}" class="img-fluid m-3" alt="...">
            <img src="{{ asset('images/social/twitter_32.png') }}" class="img-fluid m-3" alt="...">
            <img src="{{ asset('images/social/facebook_32.png') }}" class="img-fluid m-3" alt="...">
            <img src="{{ asset('images/social/facebook_32.png') }}" class="img-fluid m-3" alt="...">
            <img src="{{ asset('images/social/facebook_32.png') }}" class="img-fluid m-3" alt="...">
            <img src="{{ asset('images/social/facebook_32.png') }}" class="img-fluid m-3" alt="...">
            <img src="{{ asset('images/social/facebook_32.png') }}" class="img-fluid m-3" alt="...">
            <img src="{{ asset('images/social/facebook_32.png') }}" class="img-fluid m-3" alt="...">
            <img src="{{ asset('images/social/facebook_32.png') }}" class="img-fluid m-3" alt="..."> #}
            <div class="row mx-3">
                <div class="col-3 mb-3"> 
                    <img src="{{ asset('images/social/facebook_32.png') }}" class="img-fluid" alt="...">
                </div>
                <div class="col-3 mb-3"> 
                    <img src="{{ asset('images/social/linkedin_32.png') }}" class="img-fluid" alt="...">
                </div>
                <div class="col-3 mb-3"> 
                    <img src="{{ asset('images/social/twitter_32.png') }}" class="img-fluid" alt="...">
                </div>
                <div class="col-3 mb-3"> 
                    <img src="{{ asset('images/social/facebook_32.png') }}" class="img-fluid" alt="...">
                </div>
                <div class="col-3 mb-3"> 
                    <img src="{{ asset('images/social/linkedin_32.png') }}" class="img-fluid" alt="...">
                </div>
                <div class="col-3 mb-3"> 
                    <img src="{{ asset('images/social/twitter_32.png') }}" class="img-fluid" alt="...">
                </div>
                <div class="col-3 mb-3"> 
                    <img src="{{ asset('images/social/facebook_32.png') }}" class="img-fluid" alt="...">
                </div>
                <div class="col-3 mb-3"> 
                    <img src="{{ asset('images/social/linkedin_32.png') }}" class="img-fluid" alt="...">
                </div>
                <div class="col-3 mb-3"> 
                    <img src="{{ asset('images/social/twitter_32.png') }}" class="img-fluid" alt="...">
                </div>
            </div> 
        
        
        
        </div>
    </div>


{% endblock %}
